server.port=8087

#Data-Source Properties
#spring.datasource.url=database url
#spring.datasource.username=database user
#spring.datasource.password=database password
spring.jpa.show-sql=true

#JPA Properties
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation= true
spring.jpa.properties.hibernate.dialect= org.hibernate.dialect.PostgreSQLDialect

#Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto= create

#enabling multipart uploads
spring.servlet.multipart.enabled=true

#App Properties
maProject.app.jwtSecret = your secret key
maProject.app.jwtExpirationMs= time before expire
maProject.app.jwtRefreshExpirationMs= time before epire

#spring.data.rest.base-path=api/
#Email Properties
spring.mail.host= smtp.gmail.com
spring.mail.port= 587
spring.mail.username= email address
spring.mail.password= password
spring.mail.properties.mail.smtp.auth= true
spring.mail.properties.mail.smtp.starttls.enable= true



