server.port=8087

#Data-Source Properties
#spring.datasource.url=database url
#spring.datasource.username=database user
#spring.datasource.password=database password
spring.jpa.show-sql=true

#JPA Properties
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation= true
spring.jpa.properties.hibernate.dialect= org.hibernate.dialect.PostgreSQLDialect

#Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto= create

#enabling multipart uploads
spring.servlet.multipart.enabled=true

#App Properties
maProject.app.jwtSecret = your secret key
maProject.app.jwtExpirationMs= time before expire
maProject.app.jwtRefreshExpirationMs= time before epire

#spring.data.rest.base-path=api/
#Email Properties
spring.mail.host= smtp.gmail.com
spring.mail.port= 587
spring.mail.username= email address
spring.mail.password= password
spring.mail.properties.mail.smtp.auth= true
spring.mail.properties.mail.smtp.starttls.enable= true

server.port=8087

#Data-Source Properties
#spring.datasource.url=jdbc:postgresql://localhost:5432/i-report
#spring.datasource.username=postgres
#spring.datasource.password=chimolos99
spring.datasource.url=jdbc:postgresql://ec2-18-235-45-217.compute-1.amazonaws.com:5432/d881pq30aapffr
spring.datasource.username=lgpewodrymaqxa
spring.datasource.password=14f2ab42c14749b18c83ae038cb70210b770d1fe0a1a6c4f7d24b5baa9fcf9fa
spring.jpa.show-sql=true

#JPA Properties
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation= true
spring.jpa.properties.hibernate.dialect= org.hibernate.dialect.PostgreSQLDialect

#Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto= create

#enabling multipart uploads
spring.servlet.multipart.enabled=true

#App Properties
maProject.app.jwtSecret = iReportSecretKey20211999
maProject.app.jwtExpirationMs= 600000
maProject.app.jwtRefreshExpirationMs= 1200000

#spring.data.rest.base-path=api/
#Email Properties
spring.mail.host= smtp.gmail.com
spring.mail.port= 587
spring.mail.username= i.reportp@gmail.com
spring.mail.password= ireport2021
spring.mail.properties.mail.smtp.auth= true
spring.mail.properties.mail.smtp.starttls.enable= true

